# emacs general
elpa
custom.el

# emacs gen file
README.el
eshell/
pyim/
places
tramp
transient/
url/
bookmarks

# Manually download
plugin/*.el

# Cache or sessions
.cache
.lsp-session-v1
emojis/
projectile-bookmarks.eld
ac-comphist.dat
recentf

# system
.DS_Store
*~

# tmp file
*.bak
