[submodule "plugin/nerd-icons"]
	path = plugin/nerd-icons
	url = git@github.com:twlz0ne/nerd-icons.el.git
[submodule "fuz.el"]
	path = plugin/fuz
	url = git@github.com:cireu/fuz.el.git
[submodule "grammatical-edit"]
	path = plugin/grammatical-edit
	url = git@github.com:manateelazycat/grammatical-edit.git
[submodule "dash-at-point"]
	path = plugin/dash-at-point
	url = git@github.com:stanaka/dash-at-point.git
